body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrap {
  padding-left: 400px;
  padding-right: 400px;
}
.passive {
  color: rgb(221, 137, 27);
  border: 3px solid rgb(221, 137, 27);
  padding: 25px;
  border-radius: 125px;
  background-color: transparent;
  position: relative;
}
.passive:before {
  content: "Pokemons";
  position: absolute;
  top: -100px;
  left: -86px;
  font-size: 70px;
}
.passive:hover {
  color: rgb(221, 137, 27);
  text-decoration: none;
  background-color: rgb(14, 133, 93, 0.4);
  box-shadow: 0 11px 28px rgba(255, 255, 255, 0.15),
    0 5px 10px rgba(255, 255, 255, 0.12);
}
.fa-spin {
  font-size: 110px;
}
.card {
  background-color: rgb(14, 133, 93);
  border: 4px solid #282c34;
  height: 172px;
  line-height: 1;
  padding-top: 10px;
}
.card:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  z-index: 1;
}
.card:active {
  background-color: #282c34;
}
.pagination {
  margin: 10px 0 15px;
}
.pagination span {
  width: 50px;
  margin-right: 10px;
  border: 1px solid rgb(14, 133, 93);
}
.pagination span:hover {
  color: rgb(14, 133, 93);
  background-color: white;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.pagination span:active {
  background-color: rgb(14, 133, 93);
  color: white;
}
.bold {
  font-weight: bold;
  color: rgb(209, 99, 9);
}
.fa {
  border: 1px solid rgb(14, 133, 93);
  width: 50px;
  padding-top: 8px;
}
.fa:hover {
  color: rgb(14, 133, 93);
  background-color: white;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.fa:active {
  background-color: rgb(14, 133, 93);
  color: white;
}
.fa-angle-double-left {
  margin-right: 10px;
}
.text {
  margin-bottom: 10px;
}
img {
  height: 112px;
}
.hide-img {
  height: 87px;
  opacity: 0.8;
}
.input {
  margin-left: 10px;
  width: 143px;
  display: flex;
  border: 1px solid rgb(14, 133, 93);
  border-radius: 3px;
}
.input input {
  width: 100%;
  border: none;
  font-size: 17px;
  background-color: #dee2e6;
}
.input a {
  color: white;
  padding: 0 5px 1px 5px;
}
.input a:hover {
  text-decoration: none;
  color: rgb(14, 133, 93);
  background-color: white;
  border-left: 1px solid rgb(14, 133, 93);
}
.input a:active {
  background-color: rgb(14, 133, 93);
  color: white;
}
.individual__img {
  height: 400px;
}
.individual__text {
  font-size: 50px;
  color: rgb(14, 133, 93);
  box-shadow: 0 11px 28px rgba(255, 255, 255, 0.15);
}
.individual__list {
  list-style-type: none;
}
.individual__button {
  color: rgb(14, 133, 93);
  background-color: transparent;
}
.individual__button:hover {
  color: white;
  background-color: rgb(14, 133, 93);
}
/* _________________________Form______________________________ */

.form-wrapper {
  background-color: #6c757d;
  color: black;
  margin: 3px 0px 3px 0px;
  
}
.form-wrapper a {
  text-decoration: none;
  color: black;
}





/* ---------------------- Media Queries ---------------------- */

/* 992-1200px */
@media screen and (max-width: 1199px) {
	img {
    height: auto;
  }
}

/* 768-992px */
@media screen and (max-width: 991px) {
  .individual__img {
    height: 360px;
  }
}

/* 576-768px */
@media screen and (max-width: 767px) {
   .second-img {
     display: none;
   }
   .input {
    width: 158px;
  }
  .individual__img {
    height: 265px;
  }
}

/* 320-576px */
@media screen and (max-width: 575px) {
  .individual__img {
    height: 140px;
  } 
  .individual__text {
    font-size: 38px;
  }
.App-header {
    font-size: 23px;
  }
}
